/*
    Website of Familie Vinzenz
    original URL: https://vinzenz-online.com
    created by Lorin Vinzenz
    Link to Profiles: https://wlo.link/@minifyx
    GitHub: https://github.com/MinifyX
    GitHub Repository: https://github.com/MinifyX/VZweb
    
    DO NOT REMOVE THIS COMMENT IF YOU WANT TO USE MY WEBSITE AS A TEMPLATE FOR YOUR'S
**/

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height:1.6em !important;
    margin: 0px;
    /*background-color: black**/
}

#top {
    text-align: center;
}
#logo {
    color: white;
    background-color: rgb(211, 70, 94);
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    padding: 8px;
    margin-top: 16px;
}

#logo-name {
    font-size: 32px;
    font-weight: bold;
    margin: 16px;
}

#navigation a {
    color: gray;
    padding: 8px;
}

#image img {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 0;
}

#main {
    max-width: 800px;
    margin: auto;
}
#Welcome {
    text-align: center;
}

#LoV-uu {
    text-align: left;
    margin: auto;
    max-width: 800px;
}

#socialmedialv {
    text-align: center;
    margin: auto;
    max-width: 800px;
}

#socialmedialv a {
    background-color: gray;
    color: white;
    padding: 16px;
}

#image a:hover {
    font-weight: bold;
    color: teal;
}

#socialmedialv a:hover {
    font-size: 15px;
    font-weight: bold;
    color: teal;
}

#image p {
    text-align: left;
    margin-left: 0px;
    padding-left: 0px;
    color: gray;
    margin-top: 0px;
    font-size: 10px;
}

#image a {
    color: gray;
}

#main a {
    color: teal;
    text-decoration: none;
}

#main a:hover{
    font-weight: bold;
    color: rgb(211, 70, 94);
}

#Newsimg {
    text-align: center;
}
::-webkit-scrollbar
{
    width: 0;
}

#scrollPath
{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}
#progressBar
{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}
@keyframes animate
{
    0%,100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg)
    }
}
#progressBar:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}
#progressBar:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}



.navbut {
    display: inline-block;
    width: 80px;
    height: 20px;
    padding: auto;
    margin: auto;
    text-align: center;
}

.flagbut {
    width: 20px;
    background-image: white;
}

.flagicon {
    width: 20px;
}

.newsheader {
    color: teal;
}

.newstext {
    display: inline-block;
    font-family: 'Segoe UI', sans-serif;
}

.welcometext {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: teal;
    
}

.navbut:hover {
    color: indianred;
    font-weight: bold;
    transition: all ease-in-out 0.2s;
}

.discordaddin {
    width: 250px;
    height: 250px;
}

.logoname {
    color: black;
    text-decoration: none;
}

.logo {
    color: white;
    text-decoration: none;
}

#footer {
    text-align: center;
    padding: auto;
    margin-top: 64px;
    padding: 16px;
    background-color: gray;
    color: white;
    text-decoration: none;
    bottom: 0;
}

#footer a {
    color: white;
    text-decoration: none;
}

.footbutton {
    display: inline-block;
    height: 2px;
    width: 150px;
    text-align: center;
    color: white;
    padding-bottom: 28px;
    background-color: rgb(77, 77, 77);
    text-decoration: none;
}

.footbutton:hover {
    color: teal;
    font-weight: bold;
}

.versiontext {
    font-size: xx-small;
    color: white;
    text-decoration: none;
}

#updates {
    text-align: left;
    margin: auto;
}

#navigation a:hover{
    color: indianred;
    font-weight: bold;
    transition: all ease-in-out 0.3s;
}

#navigation img:hover{
    opacity: 70%;
    transition: all ease-in-out 0.3s;
}
